body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #007bff;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

img {
    border-radius: 5px;
}

form input {
    margin: 10px;
}
